<!--pricing tables 2-->
<section class="container content-section pricing">
  <div class="row">
    {{content}}
    <br>
  </row>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">OSS</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong> Donation?</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> You host it </li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Only Python 3 </li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Community support </li>
       </ul>
       <div class="panel-footer">
         <a class="btn btn-lg btn-block btn-danger" href="https://github.com/sergioisidoro/risco"> Deploy </a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center">Pro Plan</h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited Users </li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Up to 3 organisations </li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited reports </li>
       </ul>
       <div class="panel-footer">
         <a class="btn btn-lg btn-block btn-danger" href="/register"> Start now!</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
    <div class="col-md-4">
      <div class="panel panel-info">
       <div class="panel-heading"><h3 class="text-center"> Pro ++ </h3></div>
       <div class="panel-body text-center">
         <p class="lead" style="font-size:40px"><strong> Ask us! </strong></p>
       </div>
       <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><i class="icon-ok text-danger"></i> You need more? </li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> really? </li>
          <li class="list-group-item"><i class="icon-ok text-danger"></i> WOW!</li>
       </ul>
       <div class="panel-footer">
         <a class="btn btn-lg btn-block btn-danger" href="/contact">Contact a Hooman!</a>
	    </div><!--/panel-footer-->
      </div><!--/panel-->
    </div><!--/col-->
  </div><!--/row-->
</section><!--/container-->
